@import "variables.scss";

body {
  margin: 0 auto;
}
h1 {
  width: 100%;
}
.main-wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.catalog,
.cart {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 60px 20px 20px;

  &-item {
    width: 25%;
    padding: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
  }
  &-item-wrapper {
    border: 1px solid #000;
    padding: 10px;

    img {
      width: 100%;
      display: block;
    }
  }
  &-item-title {
    margin: 20px 0 20px;
    font-size: 20px;
    font-weight: bold;
  }
  &-item-price {
    margin: 0 0 20px;
  }
  &-item-button {
    margin: 0 auto;
    width: 150px;
    display: block;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
  }
  &-maintitle {
    position: absolute;
    top: 0;
    margin: 10px 0 0;
    left: 30px;
  }
  &-item-quantity {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin: 0 10px;
      border: 1px solid #000;
      display: block;
    }
  }
  &-cart {
    position: absolute;
    right: 30px;
    top: 10px;
    padding: 10px;
    border: 1px solid #000;
  }
}
.cart {
  width: 100%;
}
.cart-total {
  width: 100vw;
  background: #eee;
  padding: 30px 0;
  text-align: center;
  position: relative;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
}
